* {
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: none;
}

button {
  width: 35%;
}

@media (min-width: 769px) {
  button {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  button {
    width: 15%;
  }
}

/* global Style */
.button1 {
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.7em 0;
  border-radius: 25px;
  background-color: #65e4a3;
  color: black;
}
.button2 {
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.7em 0;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.button3 {
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.7em 0;
  border-radius: 25px;
  background-color: #0a2640;
  color: white;
}
.button4 {
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.7em 0;
  border-radius: 25px;
  width: 35%;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.wrapper,
.darkwrapper {
  padding: 1.5em 1em;
}
@media (min-width: 768px) {
  .wrapper,
  .darkwrapper {
    padding: 1.5em 2em;
  }
}
@media (min-width: 1024px) {
  .wrapper,
  .darkwrapper {
    padding: 1.5em 6em;
  }
}

.wrapper p {
  color: #777777;
}
.wrapper h1 {
  color: black;
}

@media (min-width: 1024px) {
  .wrapper,
  .darkwrapper {
    padding: 1.5em 6em;
  }
}

.darkwrapper p {
  color: #b8c1c7;
}
.darkwrapper h1 {
  color: white;
}
.darkwrapper h2 {
  color: white;
}

section h1 {
  font-size: 2em;
}
section h2 {
  font-size: 1.5em;
}

p {
  font-size: 0.8em;
}
@media (min-width: 1024px) {
  section h1 {
    font-size: 3em;
  }
  p {
    font-size: 0.9em;
  }
}
.basic-header {
  text-align: center;
  margin: 1.5em 0;
}

/* styles */
/* .swiper {
  width: 70%;
  height: max-content;
  border: 1px solid red;
}
.swiper-slide {
  width: 20%;
  border: 1px solid red;
} */
